.square {
    width: 400px;
    height: 400px;
    background-color: blue;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.square:hover {
    width: 800px;

    background-color: red;
}